server:
  port: 8081

spring:
  datasource:
    url: jdbc:mysql://127.0.0.1:3306/springcloud?useUnicode=yes&characterEncoding=UTF-8&useSSL=false&serverTimezone=GMT
    username: root
    password: 123

  application:
    name: user-service

mybatis:
  type-aliases-package: pers.amos.user.pojo

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka,http://localhost:8762/eureka
  instance:
    prefer-ip-address: true
    ip-address: 127.0.0.1
    #心跳间隙30s 每30s发送一次请求
    lease-renewal-interval-in-seconds: 30
    #超过90s没有响应则认为服务器挂掉了
    lease-expiration-duration-in-seconds: 90